* {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Georgia", "Times", 'Times New Roman', serif;
  box-sizing: border-box;
}

.karla {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10px;
  background-color: #eee;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

/* thank you w3schools for the nav bar <333 */

.nav-bar {
  padding-top: 0;
  padding-bottom: 150px;
  position: sticky; 
  top: 0;
}

li {
  display: inline;
  float: left;
  margin-right: 60px;
}

a {
  display: block;
  padding: 8px;
  background-color: #eee;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eee;
}

li a {
  display: block;
  color: #eee;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a p {
  font-size: 25px;
  padding-top: 20px;
}

li button {
  background-color: #023e8a;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 17.5px;
  border-radius: 5px;
  border: 2px solid black;
  color: #eee;
  font-size: 20px;
  cursor: pointer;
}

li button:hover {
  background-color: #0066cc;
}

/* Add these styles to your existing CSS */

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger img {
  height: 75px;
  margin-left: 800px;
  margin-top: 25px;
}

@media (max-width: 1000px) {
  .nav-bar p {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #eee;
  }

  .nav-bar button {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #eee;
  }

  .nav-bar ul.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .nav-bar ul li {
    float: none;
    width: 100%;
    text-align: center;
  }

  .nav-bar ul li a {
    padding: 15px;
  }
}

.logo {
  height: 75px;
  margin-left: 40px; 
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding-left: 55px;
  padding-right: 225px;
  margin-top: -30px;
}

span {
  color: #000;
}

.hello {
  font-size: 75px;
}

.intro {
  font-size: 30px;
  padding-right: 75px;
  line-height: 50px;
}

.sec-title {
  font-size: 75px;
  padding-bottom: 20px;
}

.org-title {
  font-size: 50px;
  padding-top: 10px;
} 

.grp-title {
  font-size: 30px;
  padding-top: 10px;
} 

.desc {
  font-size: 25px;
  padding-top: 10px;
}

.p1 a:hover {
  color: #cce5ff;
}

.p2 a:hover {
  color: #99ccff;
}

.p3 a:hover {
  color: #66b2ff;
}

.p4 a:hover {
  color: #3299ff;
}

.p5 a:hover {
  color: #007fff;
}

.p6 a:hover {
  color: #0066cc;
}

.p7 a:hover {
  color: #004c99;
}

.p8 a:hover {
  color: #023e8a;
}

.headshot {
  height: 400px;
  object-fit: cover;
  border-radius: 500px;
}

.blue-background {
  background: #023e8a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.white-background {
  background: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.section:last-child {
  border-right: none;
}

.footer-img {
  height: 50px;
}

/* @keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
} */

/* .title-icon {
  height: 75px;
  margin-bottom: -17.5px;
}

.org-title {
  font-size: 175%;
}

.org-icon {
  height: 50px;
  margin-bottom: -17.5px;
  padding-left: 10px;
}

.at {
  height: 2px;
  margin-bottom: -17.5px;
} */

/* .margin {
  margin-right: 50px;
} */